body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  padding-top: 80px;
  align-content: left;
}

.circled-right {
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

.navbar {
  display: flex;
  justify-content: right;
  text-align: right;
  
}
.user-menu {
  float: left;
  align-content: center;
}
.header {
  height: 50px;
  background-color: rgb(214, 38, 38);
  position: fixed;
  top: 0px;
  width: 100%
}

/* .myHome {
  height: 350px;
} */

.cityImg {
  display: block;
}

.leftImg {
  display: inline-block;
  margin-left: 10px;
}

.rightImg {
  display: inline-block;
  margin-right: 10px;
}

.cityPhoto {
  border-color: rgb(214, 38, 38);
  border: 5px;
  margin-left: 2px;  
} 

.appFooter {
  height: 50px;
  background-color:rgb(214, 38, 38);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.popCities {
  padding-bottom: 8px;
  border-block-color: rgb(214, 38, 38);
}

.homIcon {
  position: absolute position;
}

.h1cityList {
  padding-top: 40px;
}

.isLoaded {
  padding-top: 40px;
}

.liCity {
background-color:rgba(240, 238, 238, 0.986);
border-color: rgb(214, 38, 38);
border: 3px;
border-radius: 4px;
padding: 30px 30px;
margin: 2px;
font-size: 20px;
font-weight: bold;
display: block;
width: 99%;
}

.ulCity {
  flex-direction: column;
}

.cityLink {
  text-decoration: none;
}

img.userPicture {
  border-radius: 50%;
  height: 50px;
}

.MuiCardMedia-rootmakeStyles-media-2 {
  height: 200px;
}

.cityPicture {
  margin-top: 50px;
  width: 100%;
}

.cardContent {
  height: 5px;
  margin-top: 2px;
}

.cardHeader {
  height: 30px;
}

.cardActions {
  height: 15px;
}

.reSorry {
  text-align: center;
}